@import '../../../assets/scss/app.scss';

.div{
    text-align: center;
    background-color: $gray;
    padding: 8px 0;
    color:$white;
}

.flex{
    display: flex;
    justify-content: center;
     h3{
        padding-right: 40px ;
     }
     p{
        font-weight: 500;
     }
}